
  <div class="flex h-screen px-20 py-10 gap-8 pl-8">
    <div
      class=" p-5 relative w-[80%] h-[85%] flex items-center justify-center"
    >
      <!-- Top Left Square -->
      <div
        class="carre z-50 absolute top-0 left-0 w-[30%] h-[30%] bg-gray-200 bg-opacity-50 border-2 border-gray-800 rounded-md flex justify-center items-center"
      >
        Dept. Mecanique
      </div>

      <!-- Top Horizontal Rectangle -->
      <div
        class="carre absolute top-10 left-[30%] w-[40%] h-[15%] bg-gray-200 bg-opacity-50 border-2 border-gray-800"
      ></div>

      <!-- Top Right Square -->
      <div
        class="carre z-50 absolute top-0 right-0 w-[30%] h-[30%] bg-gray-200 bg-opacity-50 border-2 border-gray-800 rounded-md flex justify-center items-center"
      >
        Dept. Informatique
      </div>

      <!-- Left Vertical Rectangle -->
      <div
        class="carre absolute left-10 top-[30%] w-[15%] h-[40%] bg-gray-200 bg-opacity-50 border-2 border-gray-800"
      ></div>

      <!-- Right Vertical Rectangle -->
      <div
        class="carre absolute right-10 top-[30%] w-[15%] h-[40%] bg-gray-200 bg-opacity-50 border-2 border-gray-800"
      ></div>

      <!-- Bottom Left Square -->
      <div
        class="carre z-50 absolute bottom-0 left-0 w-[30%] h-[30%] bg-gray-200 bg-opacity-50 border-2 border-gray-800 rounded-md flex justify-center items-center"
      >
        Dept. Gestion
      </div>

      <!-- Bottom Horizontal Rectangle -->
      <div
        class="carre absolute bottom-10 left-[30%] w-[40%] h-[15%] bg-gray-200 bg-opacity-50 border-2 border-gray-800"
      ></div>

      <!-- Bottom Right Square -->
      <div
        class="carre z-50 absolute bottom-0 right-0 w-[30%] h-[30%] bg-gray-200 bg-opacity-50 border-2 border-gray-800 rounded-md flex justify-center items-center"
      >
        Dept. Electrique
      </div>
    </div>

    <div
      class="h-[80%] w-[30%] flex flex-col justify-center items-center p-2 "
    >
      <div class="w-[100%] mb-5">
        <span class="w-60 p-2 text-gray-800 mr-4 text-xl"
          >Reservation Date:
        </span>
        <input
          type="date"
          name=""
          id="dateInput"
          class="mt-4 mb-2 w-[100%] rounded-md border-2 borer-gray-800 px-6 text-gray-800"
        />
        <div class="my-2 w-[100%]">
          <span class="mr-2">From</span>
          <input
            type="time"
            name=""
            id="timeInput"
            class="rounded-md border-2 borer-gray-800 w-[36%] px-6 text-gray-800"
          />
          <span class="mx-2">To</span>
          <input
            type="time"
            name=""
            id="timeInput"
            class="rounded-md border-2 borer-gray-800 w-[36%] px-6 text-gray-800"
          />
        </div>
        <div class="flex justify-end items-center gap-10 mt-4">
          <button class="border-2 border-gray-800 py-1 px-3 rounded-md text-gray-800 hover:bg-gray-800 hover:text-white">Search</button>
        </div>
      </div>
      <div
        class="pl-5 flex flex-col justify-center items-center h-[80%] w-[70%] border-l-2 border-gray-900 gap-[3%]"
      >
        <div class="h-[20%] w-full flex items-center p-3 gap-4">
          <div class="rounded-md w-10 h-10 bg-red-200"></div>
          <span>100% Full</span>
        </div>
        <div class="h-[20%] w-full flex items-center p-3 gap-4">
          <div class="rounded-md w-10 h-10 bg-orange-200"></div>
          <span>50% Full</span>
        </div>
        <div class="h-[20%] w-full flex items-center p-3 gap-4">
          <div class="rounded-md w-10 h-10 bg-yellow-200"></div>
          <span>25% Full</span>
        </div>
        <div class="h-[20%] w-full flex items-center p-3 gap-4">
          <div class="rounded-md w-10 h-10 bg-green-200"></div>
          <span>Empty</span>
        </div>
      </div>
    </div>
  </div>

  <!-- <img src="herbe.png" class="z-0 absolute top-[200px] left-[400px] w-10 h-10 ">
<img src="herbe.png" class="z-0 absolute top-[500px] left-[900px] w-10 h-10 ">
<img src="herbe.png" class="z-0 absolute top-[360px] left-[50px] w-10 h-10 ">
<img src="herbe.png" class="z-0 absolute top-[400px] left-[1200px] w-10 h-10 ">
<img src="herbe.png" class="z-0 absolute top-[540px] left-[300px] w-10 h-10 "> -->

