<div class="bg-zinc-950 h-full w-52 absolute left-0 bottom-0 z-0"></div>
<div class="h-full w-full flex pl-[8%] pt-10 gap-8">
  <div class="w-[50%] h-[100%] rounded-xl border-2 border-gray-200 p-5">
    <div class="relative h-full w-full flex items-center justify-center">
      <!-- Top Left Square -->
      <button
        (click)="openModal(2)"
        class="cursor-pointer carre z-50 absolute top-0 left-0 w-[35%] h-[35%] bg-gray-200 bg-opacity-50 border-2 border-gray-200 rounded-2xl flex justify-center items-center"
      >
        Dept. Mecanique
      </button>

      <!-- Top Horizontal Rectangle -->
      <button
        (click)="openModal(5)"
        class="cursor-pointer carre absolute top-10 left-[35%] w-[30%] h-[15%] bg-gray-200 bg-opacity-50 border-2 border-gray-200"
      ></button>

      <!-- Top Right Square -->
      <button
        (click)="openModal(1)"
        class="cursor-pointer carre z-50 absolute top-0 right-0 w-[35%] h-[35%] bg-gray-200 bg-opacity-50 border-2 border-gray-200 rounded-2xl flex justify-center items-center"
      >
        Dept. Informatique
      </button>

      <!-- Left Vertical Rectangle -->
      <button
        (click)="openModal(6)"
        class="cursor-pointer carre absolute left-10 top-[35%] w-[15%] h-[30%] bg-gray-200 bg-opacity-50 border-2 border-gray-200"
      ></button>

      <!-- Right Vertical Rectangle -->
      <button
        (click)="openModal(7)"
        class="cursor-pointer carre absolute right-10 top-[35%] w-[15%] h-[30%] bg-gray-200 bg-opacity-50 border-2 border-gray-200"
      ></button>

      <!-- Bottom Left Square -->
      <button
        (click)="openModal(3)"
        class="cursor-pointer carre z-50 absolute bottom-0 left-0 w-[35%] h-[35%] bg-gray-200 bg-opacity-50 border-2 border-gray-200 rounded-2xl flex justify-center items-center"
      >
        Dept. Gestion
      </button>

      <!-- Bottom Horizontal Rectangle -->
      <button
        (click)="openModal(8)"
        class="cursor-pointer carre absolute bottom-10 left-[35%] w-[30%] h-[15%] bg-gray-200 bg-opacity-50 border-2 border-gray-200"
      ></button>

      <!-- Bottom Right Square -->
      <button
        (click)="openModal(4)"
        class="cursor-pointer carre z-50 absolute bottom-0 right-0 w-[35%] h-[35%] bg-gray-200 bg-opacity-50 border-2 border-gray-200 rounded-2xl flex justify-center items-center"
      >
        Dept. Electrique
      </button>
    </div>
  </div>
  <div class="w-[50%]">
    <div class="p-6 mb-5 h-[48%] w-[80%] rounded-xl border-2 border-gray-200">
      <span class="w-60 p-2 text-gray-800 mr-4 text-xl"
        >Reservation Date:
      </span>
      <input
        type="date"
        name=""
        id="dateInput"
        [(ngModel)]="theDate"
        class="mt-4 mb-2 w-[90%] ml-5 rounded-md border-2 borer-gray-800 px-6 text-gray-800"
      />
      <div class="my-2 w-[90%] ml-5">
        <span class="mr-2">From</span>
        <input
          type="time"
          name=""
          [(ngModel)]="fromTime"
          id="timeInput"
          class="rounded-md border-2 borer-gray-800 w-[39.1%] px-6 text-gray-800"
        />
        <span class="mx-2">To</span>
        <input
          type="time"
          name=""
          [(ngModel)]="toTime"
          id="timeInput"
          class="rounded-md border-2 borer-gray-800 w-[39.1%] px-6 text-gray-800"
        />
      </div>
      <div class="flex justify-end items-center gap-10 mt-4 px-6">
        <button
          class="border-2 border-gray-200 py-1 px-3 rounded-md text-gray-800 hover:bg-gray-800 hover:text-white"
        >
          Search
        </button>
      </div>
    </div>
    <div class="w-[80%] h-[48%] rounded-xl border-2 border-gray-200"></div>
  </div>
</div>
<div class="py-4 gap-8 px-[8%] w-[100%]">
  <div
    class="bg-white pl-[10%] flex flex-row justify-center items-center w-[100%] h-[10%] rounded-xl border-2 border-gray-200 p-4"
  >
    <div class="h-[20%] w-full flex items-center p-3 gap-4">
      <div class="rounded-md w-6 h-6 bg-red-200"></div>
      <span>100% Full</span>
    </div>
    <div class="h-[20%] w-full flex items-center p-3 gap-4">
      <div class="rounded-md w-6 h-6 bg-orange-200"></div>
      <span>50% Full</span>
    </div>

    <div class="h-[20%] w-full flex items-center p-3 gap-4">
      <div class="rounded-md w-6 h-6 bg-yellow-200"></div>
      <span>25% Full</span>
    </div>
    <div class="h-[20%] w-full flex items-center p-3 gap-4">
      <div class="rounded-md w-6 h-6 bg-green-200"></div>
      <span>Empty</span>
    </div>
  </div>
</div>

<!-- <img src="herbe.png" class="z-0 absolute top-[200px] left-[400px] w-6 h-6 ">
<img src="herbe.png" class="z-0 absolute top-[500px] left-[900px] w-6 h-6 ">
<img src="herbe.png" class="z-0 absolute top-[360px] left-[50px] w-6 h-6 ">
<img src="herbe.png" class="z-0 absolute top-[400px] left-[1200px] w-6 h-6 ">
<img src="herbe.png" class="z-0 absolute top-[540px] left-[300px] w-6 h-6 "> -->

<!-- Modal of Rooms-->
<div
  *ngIf="showModal"
  class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
>
  <div
    class="bg-white rounded-lg w-1/3 p-6 shadow-lg relative"
    role="dialog"
    aria-modal="true"
  >
    <!-- Close Button -->
    <button
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
      (click)="closeModal()"
    >
      &times;
    </button>

    <!-- Modal Content -->
    <h2 class="text-lg font-bold mb-4">
      Rooms of {{ this.CurrentBloc.title }}
    </h2>
    <div class="text-gray-700 mb-6 bg-red-200">
      <div *ngIf="Rooms.length > 0" class="flex">
        <div *ngFor="let room of Rooms">
          <button
            class="flex justify-center items-center h-16 w-16 carreau"
            (click)="ChooseRoom(room.id)"
            [ngClass]="{
              'selected-room': room.id === ChosenRoom.id
            }"
          >
            {{ room.num }}
            <div class="info">
              <p><strong>Capacity:</strong> {{ room.capacite }}</p>
              <p><strong>Description:</strong> {{ room.description }}</p>
              <p><strong>Name:</strong> {{ room.name }}</p>
              <p><strong>Numero:</strong> {{ room.num }}</p>
              <p><strong>Type:</strong> {{ room.type }}</p>
            </div>
          </button>
        </div>
        <button
          (click)="openModalAddRoom()"
          class="flex justify-center items-center h-16 w-16 bg-gray-100"
        >
          +
        </button>
      </div>
      <div *ngIf="Rooms.length === 0">
        <button
          (click)="openModalAddRoom()"
          class="flex justify-center items-center h-16 w-16 bg-gray-100"
        >
          +
        </button>
      </div>
    </div>

    <!-- Actions -->
    <div class="flex justify-end">
      <button
        class="bg-zinc-950 text-white px-4 py-2 rounded mr-2 hover:bg-zinc-800"
        [disabled]="ChosenRoom.id === 0"
        [ngClass]="{ 'opacity-50 cursor-not-allowed': ChosenRoom.id === 0 }"
        (click)="openEvents()"
      >
        Attach an Event
      </button>
      <button
        class="bg-zinc-950 text-white px-4 py-2 rounded hover:bg-zinc-800"
        [disabled]="ChosenRoom.id === 0"
        [ngClass]="{ 'opacity-50 cursor-not-allowed': ChosenRoom.id === 0 }"
        (click)="openModalAddEvent()"
      >
        Add an Event
      </button>
    </div>
    <div
      *ngIf="showEvents"
      class="mb-6 p-4 bg-white rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
    >
      <!-- Nom de l'événement avec un bouton -->
      <button
        *ngFor="let event of Events"
        class="w-full text-left px-4 py-2 text-white bg-gray-100 hover:bg-gray-600 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 mb-2"
      >
        {{ event.name }}
        <div class="text-gray-600 text-sm mb-2">
          <p><strong>Description :</strong> {{ event.description }}</p>
        </div>
      </button>
    </div>
  </div>
</div>

<!-- ModalAddRoom -->
<div
  *ngIf="showModalAddRoom"
  class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
>
  <div
    class="bg-white rounded-lg w-1/3 p-6 shadow-lg relative"
    role="dialog"
    aria-modal="true"
  >
    <!-- Close Button -->
    <button
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
      (click)="closeModalAddRoom()"
    >
      &times;
    </button>

    <!-- Modal Content -->
    <div class="max-w-4xl mx-auto bg-white shadow-md rounded p-6">
      <h2 class="text-2xl font-bold mb-4">Add New Room</h2>
      <form>
        <!-- Room Name -->
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-700"
            >Room Name</label
          >
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="newRoom.name"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            placeholder="Enter room name"
          />
        </div>

        <!-- Room Number -->
        <div class="mb-4">
          <label for="num" class="block text-sm font-medium text-gray-700"
            >Room Number</label
          >
          <input
            type="number"
            id="num"
            name="num"
            [(ngModel)]="newRoom.num"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            placeholder="Enter room number"
          />
        </div>

        <!-- Description -->
        <div class="mb-4">
          <label
            for="description"
            class="block text-sm font-medium text-gray-700"
            >Description</label
          >
          <textarea
            id="description"
            name="description"
            rows="4"
            [(ngModel)]="newRoom.description"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            placeholder="Enter room description"
          ></textarea>
        </div>

        <!-- Type -->
        <div class="mb-4">
          <label for="type" class="block text-sm font-medium text-gray-700"
            >Type</label
          >
          <select
            id="type"
            name="type"
            [(ngModel)]="newRoom.type"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          >
            <option value="">Select a type</option>
            <option value="classroom">Classroom</option>
            <option value="laboratory">Laboratory</option>
            <option value="office">Office</option>
          </select>
        </div>

        <!-- Capacity -->
        <div class="mb-4">
          <label for="capacite" class="block text-sm font-medium text-gray-700"
            >Capacity</label
          >
          <input
            type="number"
            id="capacite"
            name="capacite"
            [(ngModel)]="newRoom.capacite"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            placeholder="Enter room capacity"
          />
        </div>

        <!-- Image URL -->
        <div class="mb-4">
          <label for="img" class="block text-sm font-medium text-gray-700"
            >Image URL</label
          >
          <input
            type="url"
            id="img"
            name="img"
            [(ngModel)]="newRoom.img"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            placeholder="Enter image URL"
          />
        </div>
        <!-- Bloc -->
        <input type="number" [(ngModel)]="newRoom.bloc_id" name="bloc_id" />

        <!-- Actions -->
        <div class="flex justify-end">
          <button
            class="bg-red-950 text-white px-4 py-2 rounded mr-2 hover:bg-red-800"
            (click)="closeModalAddRoom()"
          >
            Close
          </button>
          <button
            (click)="saveRoom()"
            class="bg-zinc-950 text-white px-4 py-2 rounded hover:bg-zinc-800"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-addevent
  [showModalAddEvent]="showModalAddEvent"
  (closeModalAddEvent)="closeModalAddEvent()"
></app-addevent>
