<div class="flex h-screen">
  <!-- Sidebar -->
  <div
    class="bg-gray-800 w-[20%] flex flex-col items-start py-6 space-y-8 transition-all duration-300"
  >
    <!-- User Profile Image -->
    <div class="ml-[10%] w-[80%] flex flex-col items-center px-4">
      <div class="bg-gray-700 p-1 rounded-full">
        <img
          src="https://via.placeholder.com/100"
          alt="User"
          class="w-24 h-24 rounded-full"
        />
      </div>
      <span class="mt-3 text-white font-semibold">User</span>
    </div>

    <!-- Reservation Link -->
    <a
      routerLink="/Reservations"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link text-gray-400 hover:text-white flex items-center space-x-4 px-4 focus:outline-none group"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-10 group-hover:text-white"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75"
        />
      </svg>
      <span class="text-xl text-gray-400 group-hover:text-white">Reservations</span>
    </a>

    <!-- Events Link -->
    <a
      href=""
      class="nav-link text-gray-400 hover:text-white flex items-center space-x-4 px-4 focus:outline-none group"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-10 group-hover:text-white"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z"
        />
      </svg>
      <span class="text-xl text-gray-400 group-hover:text-white">Events</span>
    </a>

    <!-- Profile Link -->
    <a
      href=""
      class="nav-link text-gray-400 hover:text-white flex items-center space-x-4 px-4 focus:outline-none group"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-10 group-hover:text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 14c3.314 0 6 1.686 6 3.75V20H6v-2.25C6 15.686 8.686 14 12 14zm0-7a3.5 3.5 0 110 7 3.5 3.5 0 010-7z"
        />
      </svg>
      <span class="text-xl text-gray-400 group-hover:text-white">Profile</span>
    </a>

    <!-- Logout Link -->
    <a
      href=""
      class="nav-link text-gray-400 hover:text-white flex items-center space-x-4 px-4 focus:outline-none group"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-10 group-hover:text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17 16l4-4m0 0l-4-4m4 4H7"
        />
      </svg>
      <span class="text-xl text-gray-400 group-hover:text-white">Logout</span>
    </a>
  </div>

  <!-- Main Content -->
  <div class="flex-1">
    <router-outlet></router-outlet>
    <!-- Content goes here -->
  </div>
</div>
