<div class="container mx-auto mt-10 p-4 px-20">
  <h2 class="text-3xl font-semibold mb-6">Events</h2>
  <div class="p-6 border-2 border-gray-200 rounded-xl flex flex-col">
    <div class="w-[100%] text-xl font-semibold text-gray-800 mb-5">
      Coming..
    </div>
    <div class="flex">
      <!-- card1 -->
      <div class="">
        <div class="w-[90%] h-full col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="border-2 border-gray-200 rounded-xl card">
                  <div class="card-body text-center">
                    <!-- Using a square image -->
                    <div
                      class="w-full h-48 bg-cover bg-center"
                      style="background-image: url('isetJB.jpeg')"
                    ></div>
                    <h4 class="card-title">Hackathon</h4>
                    <p class="card-text">
                      A coding competition where students solve problems or
                      build projects.
                    </p>
                    <a href="" class="btn btn-primary btn-sm"
                      ><i class="fa fa-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="backside border-2 border-gray-200 rounded-xl h-full">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Sunlimetech</h4>
                    <p class="card-text">
                      This is a basic card with image on top, title,
                      description, and button. This is basic card with image on
                      top, title, description and button.
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href=""
                        >
                          <i class="bi bi-calendar-check">📅 Dec 5, 2024 </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--card2-->
      <div class="">
        <div class="w-[90%] h-full col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="border-2 border-gray-200 rounded-xl card">
                  <div class="card-body text-center">
                    <!-- Using a square image -->
                    <div
                      class="w-full h-48 bg-cover bg-center"
                      style="background-image: url('isetJB.jpeg')"
                    ></div>
                    <h4 class="card-title">Hackathon</h4>
                    <p class="card-text">
                      A coding competition where students solve problems or
                      build projects.
                    </p>
                    <a href="" class="btn btn-primary btn-sm"
                      ><i class="fa fa-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="backside border-2 border-gray-200 rounded-xl h-full">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Sunlimetech</h4>
                    <p class="card-text">
                      This is a basic card with image on top, title,
                      description, and button. This is basic card with image on
                      top, title, description and button.
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href=""
                        >
                          <i class="bi bi-calendar-check">📅 Dec 5, 2024 </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--card3-->
      <div class="">
        <div class="w-[90%] h-full col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="border-2 border-gray-200 rounded-xl card">
                  <div class="card-body text-center">
                    <!-- Using a square image -->
                    <div
                      class="w-full h-48 bg-cover bg-center"
                      style="background-image: url('isetJB.jpeg')"
                    ></div>
                    <h4 class="card-title">Hackathon</h4>
                    <p class="card-text">
                      A coding competition where students solve problems or
                      build projects.
                    </p>
                    <a href="" class="btn btn-primary btn-sm"
                      ><i class="fa fa-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="backside border-2 border-gray-200 rounded-xl h-full">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Sunlimetech</h4>
                    <p class="card-text">
                      This is a basic card with image on top, title,
                      description, and button. This is basic card with image on
                      top, title, description and button.
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href=""
                        >
                          <i class="bi bi-calendar-check">📅 Dec 5, 2024 </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-6 border-2 border-gray-200 rounded-xl mt-6">
    <div class="w-[100%] text-xl font-semibold text-gray-800 mb-5">History</div>
    <div class="flex">
      <!-- card1 -->
      <div class="">
        <div class="w-[90%] h-full col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="border-2 border-gray-200 rounded-xl card">
                  <div class="card-body text-center">
                    <!-- Using a square image -->
                    <div
                      class="w-full h-48 bg-cover bg-center"
                      style="background-image: url('isetJB.jpeg')"
                    ></div>
                    <h4 class="card-title">Hackathon</h4>
                    <p class="card-text">
                      A coding competition where students solve problems or
                      build projects.
                    </p>
                    <a href="" class="btn btn-primary btn-sm"
                      ><i class="fa fa-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="backside border-2 border-gray-200 rounded-xl h-full">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Sunlimetech</h4>
                    <p class="card-text">
                      This is a basic card with image on top, title,
                      description, and button. This is basic card with image on
                      top, title, description and button.
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href=""
                        >
                          <i class="bi bi-calendar-check">📅 Dec 5, 2024 </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--card2-->
      <div class="">
        <div class="w-[90%] h-full col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="border-2 border-gray-200 rounded-xl card">
                  <div class="card-body text-center">
                    <!-- Using a square image -->
                    <div
                      class="w-full h-48 bg-cover bg-center"
                      style="background-image: url('isetJB.jpeg')"
                    ></div>
                    <h4 class="card-title">Hackathon</h4>
                    <p class="card-text">
                      A coding competition where students solve problems or
                      build projects.
                    </p>
                    <a href="" class="btn btn-primary btn-sm"
                      ><i class="fa fa-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="backside border-2 border-gray-200 rounded-xl h-full">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Sunlimetech</h4>
                    <p class="card-text">
                      This is a basic card with image on top, title,
                      description, and button. This is basic card with image on
                      top, title, description and button.
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href=""
                        >
                          <i class="bi bi-calendar-check">📅 Dec 5, 2024 </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--card3-->
      <div class="">
        <div class="w-[90%] h-full col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="border-2 border-gray-200 rounded-xl card">
                  <div class="card-body text-center">
                    <!-- Using a square image -->
                    <div
                      class="w-full h-48 bg-cover bg-center"
                      style="background-image: url('isetJB.jpeg')"
                    ></div>
                    <h4 class="card-title">Hackathon</h4>
                    <p class="card-text">
                      A coding competition where students solve problems or
                      build projects.
                    </p>
                    <a href="" class="btn btn-primary btn-sm"
                      ><i class="fa fa-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="backside border-2 border-gray-200 rounded-xl h-full">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Sunlimetech</h4>
                    <p class="card-text">
                      This is a basic card with image on top, title,
                      description, and button. This is basic card with image on
                      top, title, description and button.
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href=""
                        >
                          <i class="bi bi-calendar-check">📅 Dec 5, 2024 </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
