<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--events--->

<div class="p-20">
  <div class="w-[100%] text-xl font-semibold text-gray-800 mb-5">History</div>
  <div class="row">
    <!-- card1 -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="image-flip">
        <div class="mainflip flip-0">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <!-- Using a square image -->
                <div
                  class="w-full h-48 bg-cover bg-center"
                  style="background-image: url('isetJB.jpeg')"
                ></div>
                <h4 class="card-title">Hackathon</h4>
                <p class="card-text">
                  A coding competition where students solve problems or build
                  projects.
                </p>
                <a href="" class="btn btn-primary btn-sm"
                  ><i class="fa fa-plus"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center mt-4">
                <h4 class="card-title">Sunlimetech</h4>
                <p class="card-text">
                  This is a basic card with image on top, title, description,
                  and button. This is basic card with image on top, title,
                  description and button.
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href=""
                    >
                      <i class="bi bi-calendar-check">📅 Dec 5, 2024 </i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card2 -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="image-flip">
        <div class="mainflip flip-0">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <!-- Using a square image -->
                <div
                  class="w-70 h-48 bg-cover bg-center"
                  style="background-image: url('isetJB.jpeg')"
                ></div>
                <h4 class="card-title">Tech Talks</h4>
                <p class="card-text">
                  Invite industry professionals, researchers, or alumni to speak
                  about technology.
                </p>
                <a href="" class="btn btn-primary btn-sm"
                  ><i class="fa fa-plus"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center mt-4">
                <h4 class="card-title">Tech Talks</h4>
                <p class="card-text">
                  about emerging technologies, trends in tech, or career
                  development..
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card 3 -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="image-flip">
        <div class="mainflip flip-0">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <!-- Using a square image -->
                <div
                  class="w-full h-48 bg-cover bg-center"
                  style="background-image: url('isetJB.jpeg')"
                ></div>
                <h4 class="card-title">Bootcamp</h4>
                <p class="card-text">
                  Hands-on learning sessions on topics like programming
                  languages.
                </p>
                <a href="" class="btn btn-primary btn-sm"
                  ><i class="fa fa-plus"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center mt-4">
                <h4 class="card-title">Bootcamp</h4>
                <p class="card-text">
                  programming languages, data science, artificial intelligence,
                  cybersecurity, cloud computing, or app development.
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="image-flip">
        <div class="mainflip flip-0">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <!-- Using a square image -->
                <div
                  class="w-full h-48 bg-cover bg-center"
                  style="background-image: url('isetJB.jpeg')"
                ></div>
                <h4 class="card-title">Robotics Competitions</h4>
                <p class="card-text">
                  Teams of students design and build robots to compete in tasks.
                </p>
                <a href="" class="btn btn-primary btn-sm"
                  ><i class="fa fa-plus"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center mt-4">
                <h4 class="card-title">Robotics Competitions</h4>
                <p class="card-text">
                  such as obstacle courses, search and rescue missions, or
                  soccer games..
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="image-flip">
        <div class="mainflip flip-0">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <!-- Using a square image -->
                <div
                  class="w-full h-48 bg-cover bg-center"
                  style="background-image: url('isetJB.jpeg')"
                ></div>
                <h4 class="card-title">Machine Learning</h4>
                <p class="card-text">
                  Competitions focused on developing AI or ML models.
                </p>
                <a href="" class="btn btn-primary btn-sm"
                  ><i class="fa fa-plus"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center mt-4">
                <h4 class="card-title">Machine Learning</h4>
                <p class="card-text">
                  Competitions focused on developing AI or ML models to solve
                  specific tasks, like image recognition or predictive
                  analysis..
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card6-->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="image-flip">
        <div class="mainflip flip-0">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <!-- Using a square image -->
                <div
                  class="w-full h-48 bg-cover bg-center"
                  style="background-image: url('isetJB.jpeg')"
                ></div>
                <h4 class="card-title">Hackathon</h4>
                <p class="card-text">
                  This is a basic card with an image on top, title, description,
                  and button.
                </p>
                <a href="" class="btn btn-primary btn-sm"
                  ><i class="fa fa-plus"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center mt-4">
                <h4 class="card-title">Sunlimetech</h4>
                <p class="card-text">
                  This is a basic card with image on top, title, description,
                  and button. This is basic card with image on top, title,
                  description and button.
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="social-icon text-xs-center"
                      target="_blank"
                      href="https://www.fiverr.com/share/qb8D02"
                    >
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
