<div class="flex justify-center item-center">
  <!-- Background -->
  <div class="background bg-[url('iset.jpg')]" ></div>
  <img src="iset.jpg" alt="">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Content -->
  <div class="content">
    <h1>Reserve your space</h1>
    <p>for all your events</p>

    <!-- Blur Box -->
    <div class="blur-box">
      <!-- Date Column -->
      <div class="column">
        <label for="date">Choose Date</label>
        <input type="date" id="date" />
      </div>
      <!-- Time Column -->
      <div class="column">
        <label for="time">Choose Time</label>
        <input type="time" id="time" />
      </div>
      <!-- Guests Column -->
      <div class="column">
        <label for="guests">Guests</label>
        <input type="number" id="guests" placeholder="Number of people" />
      </div>
    </div>
  </div>

  <!-- Log In Button -->
  <button class="btn-log-in">Log In</button>

  <!-- book Button -->

  <button class="btn-animated">Book Now</button>

  <!-- Fleche -->
  <div class="fleche"></div>
</div>
